# VIRTUAL ENVIRONMENT
env/
venv/
.venv/

# IDE FILES
.idea/
.vscode/
.pydevd.py

# ENVIRONMENT VARIABLES
**/*.env

# LOGS
**/*.log
**/*.log.*

# DATABASE
**/*.db

# PYCACHE
**/__pycache__
**/*.pyc

# MISC
pyrightconfig.json
DS_Store
